*, *::after, *::before { 
    box-sizing: border-box;
	overflow: hidden;
}

:root {
	--dark-grey: rgb(25, 23, 23);
}

html {
	background-color: white;
	font-family: 'IBM Plex Mono', monospace;
}

body {
	padding: 0;
	margin: 0;
}

canvas {
	position: absolute;
	z-index: 1;
	width: 100vw;
	height: 100vh;
}

.sidebar {
	overflow: auto;
	height: 100vh;
	width: 350px;
	position: absolute;
	left: 0;
	top: 0;
	padding-top: 40px;
	background-color: black;
	z-index: 2;
}

.main-body {
	display: block;
	overflow: auto;
	margin-left: 350px;
	padding: 0;
	background-color: rgba(0, 0, 0, .9);
	height: 100vh;
	z-index: 2;
}

#header {
    display: block;
	font-size: 25px;
	word-break: break-word;
	overflow: hidden;
    background-color: black;
	border-radius: 15px;
    color: rgb(232, 228, 228);
    padding: 10px;
	margin-top: -50px;
	text-align: center;
	z-index: 2;
}

#header > label {
	font-size: 12px;
	float: left;
	margin-top: 10px;
}
a:link {
	color: white;
	text-decoration: none;
}
a:visited {
	color: white;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
  }
a:active {
	text-decoration: none;
  }

.button_wrapper {
	display: flex;
	justify-content: center;
	margin-bottom: 25px;
	align-items: center;
	padding: 20px;
}

#generate_jobs_btn, #show_data_btn {
	font-size: 28px;
	margin-left: 15px;
	margin-bottom: 15px;
	border-radius: 100px;
	height: 160px;
	width: 160px;
	text-align: center;
	background-color: white;
	color: black;
	border: none;
}

#generate_jobs_btn {
	cursor: pointer;
	box-shadow: 0px 0px 10px 10px grey;
}
#generate_jobs_btn:disabled,
#generate_jobs_btn[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

#show_data_btn {
	display: none;
	cursor: pointer;
	box-shadow: 0px 0px 10px 10px grey;
}

#show_data_btn:hover, #show_data_btn:focus {
	background-color: rgb(189, 187, 187);
}

.modal {
	position: fixed;
	z-index: 3;
	left: 50%;
	right: 50%;
	transform: translate(-50%) scale(0);
	transition: 200ms ease-in-out;

	border-radius: 15px;
	z-index: 10;
	background: none;
	width: 700px;	
	height: 700px; 
	max-width: 80%;

	overflow-y: none;
    scrollbar-width: none; /* Firefox */
	overflow-x: hidden;
}

.modal.active {
	transform: translate(-50%) scale(1);
}
 
.modal-header {
	padding: 10px 15px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: sticky;
	top: 0;
} 

.modal-header .close {
	position: absolute;
	top: 0;
	right: 14px;
	cursor: pointer;
	font-size: 40px;
	font-weight: bold;
	border: none;
	outline: none;
	background: none;
}

.modal-body {
	padding: 10px 15px;
}

#overlay {
	position: fixed;
	z-index: 2;
	opacity: 0;
	transition: 200ms ease-in-out;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.5);
	pointer-events: none;
}

#overlay.active {
	opacity: 1;
	pointer-events: all;
}

#jobs_table {
	font-size: 30px;
	table-layout: fixed;
	border-collapse: separate;
	border: 3px solid rgb(232, 228, 228);
	border-radius: 15px;
	padding: 15px;
	background-color: black;
	margin: 0 auto;
	width: 600px;
	height: 600px;
	color: rgb(232, 228, 228);
	font-family:'Times New Roman', Times, serif;
}

td {
    /* border: solid 2px rgb(42, 26, 4); */
	text-align: center;
	padding: 3px 10px;
}

tbody {
    background-color: rgb(232, 228, 228);
    height: 500px;
    overflow-y: auto;
    scrollbar-width: none; /* Firefox */
	overflow-x: hidden;
	border-radius: 15px;
	color: black;
}

thead > tr, tbody {
    display: block;
}

.modal::-webkit-scrollbar { /* WebKit */
    width: 0;
    height: 0;
}

.num_of_processors {
	display: none;
	margin: 10px;
	text-align: center;
	font-size: 25px;
	margin-bottom: 50px;
}

.num_of_processors button {
	display: inline;
	flex-wrap: wrap;
	margin-bottom: 10px;
	margin-top: 10px;
	border-radius: 500px;
	font-size: 35px;
	padding: 15px;
	background-color: white;
	cursor: pointer;
	border: none;
}

.num_of_processors button:hover, .num_of_processors button:focus {
	background-color: rgb(157, 154, 154);
}

#data {
	font-size: 20px;
	margin: 15px;
	visibility: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: black;
	z-index: 2;
}

#top-data, #btm-data {
	display: flex;
	flex-wrap: nowrap;
}

#metrics {
	width: 60vw;
}

#metrics, #chart_div {
	background-color: var(--dark-grey);
	color: white;
	border-radius: 10px;
	padding: 15px;

	height: 45vh;
	overflow-y: auto;
	scrollbar-width: none; /* Firefox */
	z-index: 2;
}

#chart_div {
	display: block;
	flex-shrink: 0;
	margin-right: 10px;
	width: 600px;
}

#runtime {
	float: right;
	border-radius: 10px;
	padding: 15px;
	background-color: var(--dark-grey);
	color: white;
	
	width: 81vw;
	height: 50vh;
	overflow-y: auto;
	scrollbar-width: none; /* Firefox */
	margin-top: 10px;
	z-index: 1;
}

@media (max-width: 1910px) {
	#runtime {
		float: left;
	}
	#metrics {
		float: left;
	}
	#chart_div {
		float: right;
	}
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type=number] {
	-moz-appearance: textfield;
}

.upper-body {
	background-color: black;
	border-radius: 15px;
}

#num_of_processors > label {
	color: white;
	font-size: 20px;
}